name: Test Orchestrator

# Allows a “Run workflow” button in the Actions tab
on:
  workflow_dispatch: {}

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with: 
          repository:JeffCompasClassrooms/testing-units-f25-just-a-mole

      - name: install pytest
        run: pip install pytest

      - name: run pytest
        run: pytest
